@import './common.css';  /* Путь к общим стилям */
  
  .sidebar {
    width: 20%;
    min-width: 300px;
    background: #ffe1cd;
    border-radius: 30px;
    padding: 15px;
  }
  
  .sidebar-header {
    font-size: 18px;
    color: black;
    margin-bottom: 15px;
  }
  
  /* Стиль профиля */
  .profile-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .profile-info .info-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .profile-info .info-item span {
    font-size: 1rem;
    color: black;
  }
  
  .profile-info .info-item .value {
    font-weight: bold;
    color: #333;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    background: #fffeda;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .edit-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffbbbb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .edit-button:hover {
    background-color: #4CAF50;
  }
  
  .delete-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #ffbbbb;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .delete-button:hover {
    background-color: #A43939;
    color: white;
  }
  
  .content-area {
    position: relative; /* добавляем позиционирование для родителя */
    flex-grow: 1;
    background: #ffe1cd;
    border-radius: 30px;
    padding: 20px;
    color: black;
    height: 100%;
  }
  
  .exit-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #ffbbbb;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .exit-button:hover {
    background-color: #ffa07a;
    color: white;
  }
  