@import './common-auth.css';

/* Регистр-специфические стили */
.register-container {
  position: relative;
  background: #FFFEDA;
}

.register-box {
  width: 570px;
  height: 670px;
  position: absolute;
  background: #FFE1CD;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.register-btn {
  width: 430px;
  height: 70px;
  position: absolute;
  background: #FFBBBB;
  border-radius: 15px;
  font-size: 32px;
  text-align: center;
  color: black;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #ff9999;
}
