@import './common-auth.css';

/* Стили для сброса пароля */
.reset-password-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.reset-password-btn {
  background: #ddd;
  border: 2px solid #FFE1CD;
  cursor: not-allowed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #999;
  transition: background 0.3s, color 0.3s;
}

.reset-password-btn.active {
  background: #FFBBBB;
  cursor: pointer;
  color: black;
}

.reset-password-btn.active:hover {
  background: #FFAFAF;
}
